apiVersion: v1
kind: Service
metadata:
  name: bentro-app-service
  namespace: bentro
  labels:
    app: bentro-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: bentro-app
