{{- if .Values.redis.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-redis
  labels:
    app: {{ .Release.Name }}-redis
spec:
  ports:
    - port: {{ .Values.redis.service.port }}
      targetPort: 6379
  selector:
    app: {{ .Release.Name }}-redis
{{- end }}
